{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'pagination.css' %}">
</head>
<body>
    {% include 'includes/menu.html' %}
    <div class="product-list">
        <h1>Наши продукты</h1>
        <form method="get">
            <label for="per_page">Количество элементов на странице:</label>
            <select name="per_page" id="per_page" onchange="this.form.submit()">
                <option value="5" {% if per_page == "5" %}selected{% endif %}>5</option>
                <option value="10" {% if per_page == "10" %}selected{% endif %}>10</option>
                <option value="20" {% if per_page == "20" %}selected{% endif %}>20</option>
            </select>
            <noscript><input type="submit" value="Отправить"></noscript>
        </form>
        <ul>
            {% for game in page_obj %}
            <li class="product">
                <strong>{{ game.title }}</strong>: {{ game.description }}. Стоимость: {{ game.cost }} RUB
                <button class="button">Купить</button>
            </li>
            {% empty %}
            <li>Нет доступных продуктов</li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&per_page={{ per_page }}">&laquo; первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}">предыдущая</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <span class="current">{{ num }}</span>
                    {% elif num > page_obj.number|add:-5 and num < page_obj.number|add:5 %}
                        <a href="?page={{ num }}&per_page={{ per_page }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&per_page={{ per_page }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>
